<%= link_to "Back to Pictures", pictures_url %>
<p><%= @picture.title %>, <%= @picture.date %></p>
<%= link_to "Back to Pictures", pictures_url %> | <%= link_to "Edit", edit-picture_path(@picture) %>
<%= image_tag @picture.url %>
